#!/usr/bin/env bash

[[ -f ./.docker_aliases ]] && source ./.docker_aliases

alias mv='mv -v'
alias rm='rm -i -v'
alias cp='cp -v'
cp_p() { rsync -WavP --human-readable --progress "$1" "$2"; } # Copy w/ progress
trash() { mv "$@" ~/.Trash; }
alias mkdir='mkdir -pv'
mcd() { mkdir "$1" && cd "$1" && code .; }
cdl() { cd '$@' && ll; }
alias ..='cd ../'
alias ...='cd ../../'
alias less='less -FSRXc'
alias fnd="find . -name "
alias findgrep="find . -print0 | xargs -0 grep"
alias ln="ln -v" # print name of each linked file

alias sh='bash'
alias bashrc='source ~/.bashrc'
alias reset="reset && resource"
alias resource="source \$ZSHRC"
alias dos2unix='perl -pi -e "tr/\r//d"'
alias unix2dos='perl -pi -e "s/\n$/\r\n/g"'
alias path='echo $PATH | tr -s ":" "\n"'
alias h="history"
alias j="jobs"
alias cl='clear'
alias homebrew="brew"
alias numFiles='echo $(ls -1 | wc -l)' # Count of non-hidden files in current dir

alias py='python3'
alias py2='python2'
alias pip='pip3'                            # use \pip for pip2
alias pipup='pip install -U pip setuptools' # upgrade

alias chmox='chmod -x'
alias hosts='sudo $EDITOR /etc/hosts'
alias make5mb='mkfile 5m ./5MB.dat' # Creates a file of 5mb size (all zeros)

# alias ll='ls -FGlAhp'
# alias ls='ls --color=tty'
# `ls` utils
# use coreutils `ls` if possible
hash gls >/dev/null 2>&1 || alias gls="ls"
# always use color, even when piping (to awk,grep,etc)
if gls --color >/dev/null 2>&1; then
  colorflag="--color"
else
  colorflag="-G"
fi
export CLICOLOR_FORCE=1
# ls options: A = include hidden, F = put `/` after folders, h = byte unit suffixes
alias ls='gls -AFh ${colorflag} --group-directories-first'
alias lsd='gls -l ${colorflag} | grep "^d"' # only directories
alias l="gls -lAh --color --group-directories-first"
alias lr='ls -R | grep ":$" | sed -e '\''s/:$//'\'' -e '\''s/[^-][^\/]*\//--/g'\'' -e '\''s/^/   /'\'' -e '\''s/-/|/'\'' | less' # Full Recursive Directory Listing
# List all files, long format, colorized, permissions in octal
function la() {
  ls -l "$@" | awk '
    {
      k=0;
      for (i=0;i<=8;i++)
        k+=((substr($1,i+2,1)~/[rwx]/) *2^(8-i));
      if (k)
        printf("%0o ",k);
      printf(" %9s  %3s %2s %5s  %6s  %s %s %s\n", $3, $6, $7, $8, $5, $9,$10, $11);
    }'
}

if command -v colordiff >/dev/null 2>&1; then
  alias diff='colordiff -Nuar'
else
  alias diff='diff -Nuar'
fi

# `tre` is a shorthand for `tree` with hidden files and color enabled, ignoring
# the `.git` directory, listing directories first. The output gets piped into
# `less` with options to preserve color and line numbers, unless the output is
# small enough for one screen.
function tre() {
  tree -aC -I '.git|node_modules' --dirsfirst "$@" | less -FRNX
}

export GREP_COLORS='mt=37;45'
alias grep="egrep --color=auto"

if which pygmentize >/dev/null; then
  # `cat` with colors. requires: pip install Pygments
  alias catc='pygmentize -O style=monokai -f console256 -g'
fi

alias g="git"
# Undo a `git push`
alias undopush="git push -f origin HEAD^:master"
# git root
alias gr='[ ! -z `git rev-parse --show-cdup` ] && cd `git rev-parse --show-cdup || pwd`'
alias co="!git stash push -m \"co backup\"; git stash apply; git checkout '$1'"

if which vim >/dev/null; then
  alias v=vim
  alias vi=vim
  alias vg="vim -g"
  # alias vless="vim -R -c "set number" -u /usr/share/vim/vim74/macros/less.vim"
fi

# Color support for ripgrep
if command -v rg >/dev/null 2>&1; then
  alias rg='rg --color=auto'
fi

# Wget will use the supplied file as the HSTS database
if command -v wget >/dev/null 2>&1; then
  # shellcheck disable=SC2139
  alias wget="wget --hsts-file=${XDG_CACHE_HOME:-$HOME/.cache}/wget-hsts"
fi

alias ip="ipconfig getifaddr en0"
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"
alias my_ip='ip -br -c a'
alias server_ip='hostname -I' # current local IP address

alias dig="dig +nocmd any +multiline +noall +answer"
alias sniff="sudo ngrep -d 'en1' -t '^(GET|POST) ' 'tcp and port 80'"
alias httpdump="sudo tcpdump -i en1 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""
alias netstat="netstat -anp"

alias memHogsTop='top -l 1 -o rsize | head -20'
alias memHogsPs='ps wwaxm -o pid,stat,vsize,rss,time,command | head -10'
alias cpu_hogs='ps wwaxr -o pid,stat,%cpu,time,command | head -10'
alias htopm='top -l 9999999 -s 10 -o cpu' # every 10 seconds
alias ttop="top -R -F -s 10 -o rsize"

# Pipe my public key to my clipboard. 'more' - opens a file for interactive reading
alias pubkey="more ~/.ssh/id_rsa.pub | pbcopy | echo '=> Public key copied to pasteboard.'"

# Update installed Homebrew, npm, and their installed packages
alias brew_update="brew -v update; brew upgrade --force-bottle --cleanup; brew cleanup; brew cask cleanup; brew prune; brew doctor; npm-check -g -u"

# Recursively delete `.DS_Store` files
alias cleanup_dsstore="find . -name '*.DS_Store' -type f -ls -delete"

# File Download
alias get='curl --continue-at - --location --progress-bar --remote-name --remote-time'

# Reload the shell (i.e. invoke as a login shell)
alias rl="exec \$SHELL -l"

alias dates='TZ="Australia/Brisbane" date; TZ="Asia/Shanghai" date; TZ="Europe/Uzhgorod" date; TZ=UTC date; TZ="America/New_York" date; TZ="America/Phoenix" date; TZ="America/Los_Angeles" date'
