#!/usr/bin/env bash

[[ -f ./.docker_aliases ]] && source ./.docker_aliases

alias mv='mv -v'
alias rm='rm -i -v'
trash() { mv "$@" ~/.Trash; }
alias cp='cp -v'
cpp() { rsync -WavP --human-readable --progress "$1" "$2"; } # Copy w/ progress
alias mkdir='mkdir -pv'
mcdc() { mkdir "$1" && cd "$1" && code .; }
alias ..='cd ../'
alias ...='cd ../../'
alias less='less -FSRXc'
alias findgrep="find . -print0 | xargs -0 grep"
alias ln="ln -v" # print name of each linked file

alias sh='bash'
alias bashrc='source ~/.bashrc'
alias zshrc="source \$ZSHRC"
alias reset="reset && zshrc"
alias cl='clear'
alias path='echo $PATH | tr -s ":" "\n"'
alias h="history"
alias j="jobs"
alias py='python3'
alias pip='pip3'                            # use \pip for pip2
alias pipup='pip install -U pip setuptools' # upgrade

alias hosts='sudo $EDITOR /etc/hosts'
alias make5mb='mkfile 5m ./5MB.dat' # Creates a file of 5mb size (all zeros)

# always use color, even when piping (to awk,grep,etc)
# Detect which `ls` flavor is in use
if ls --color >/dev/null 2>&1; then # GNU `ls`
  colorflag="--color"
else # OS X `ls`
  colorflag="-G"
fi
alias ls='gls -AFh ${colorflag} --group-directories-first'
alias lsl='ls -FGlAhp'
alias lsd='gls -l ${colorflag} | grep "^d"'
function tre() {
  tree -aC -I '.git|node_modules' --dirsfirst "$@" | less -FRNX
}

cdl() { cd '$@' && lsl; }
alias numFiles='echo $(\ls -1 | wc -l)'

if which pygmentize >/dev/null; then
  # `cat` with colors. requires: pip install Pygments
  alias catc='pygmentize -O style=monokai -f console256 -g'
fi

if command -v colordiff >/dev/null 2>&1; then
  alias diff='colordiff -Nuar'
else
  alias diff='diff -Nuar'
fi

alias g="git"

if which vim >/dev/null; then
  alias v=vim
  alias vi=vim
  alias vg="vim -g"
  # alias vless="vim -R -c "set number" -u /usr/share/vim/vim74/macros/less.vim"
fi

# Color support for ripgrep
if command -v rg >/dev/null 2>&1; then
  alias rg='rg --color=auto'
fi

# Wget will use the supplied file as the HSTS database
if command -v wget >/dev/null 2>&1; then
  # shellcheck disable=SC2139
  alias wget="wget --hsts-file=${XDG_CACHE_HOME:-$HOME/.cache}/wget-hsts"
fi
# File Download
alias get='curl --continue-at - --location --progress-bar --remote-name --remote-time'

# Enable aliases to be sudo’ed
alias sudo='sudo '

alias ip="ipconfig getifaddr en0" # 'ip -br -c a'
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"
alias pubip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="sudo ifconfig | grep -Eo 'inet (addr:)?([0-9]*\\.){3}[0-9]*' | grep -Eo '([0-9]*\\.){3}[0-9]*' | grep -v '127.0.0.1'"

alias dig="dig +nocmd any +multiline +noall +answer"
alias sniff="sudo ngrep -d 'en1' -t '^(GET|POST) ' 'tcp and port 80'"
alias httpdump="sudo tcpdump -i en1 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""
alias netstat="netstat -anp"

# Flush Directory Service cache
alias flush="dscacheutil -flushcache && killall -HUP mDNSResponder"

alias memHogsTop='top -l 1 -o rsize | head -20'
alias memHogsPs='ps wwaxm -o pid,stat,vsize,rss,time,command | head -10'
alias cpu_hogs='ps wwaxr -o pid,stat,%cpu,time,command | head -10'
alias htopm='top -l 9999999 -s 10 -o cpu' # every 10 seconds
alias ttop="top -R -F -s 10 -o rsize"

alias pubkey="more ~/.ssh/id_rsa.pub | pbcopy | echo '=> Public key copied to pasteboard.'"
alias prikey="more ~/.ssh/id_rsa | pbcopy | echo '=> Private key copied to pasteboard.'"

# Recursively delete `.DS_Store` files
alias cleanup_dsstore="find . -name '*.DS_Store' -type f -ls -delete"

alias dates='TZ="Australia/Brisbane" date; TZ="Asia/Shanghai" date; TZ="Europe/Uzhgorod" date; TZ=UTC date; TZ="America/New_York" date; TZ="America/Phoenix" date; TZ="America/Los_Angeles" date'

# Trim new lines and copy to clipboard
alias c="tr -d '\\n' | pbcopy"

# copy working directory
alias cwd='pwd | tr -d "\r\n" | pbcopy'

# URL-encode strings
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'

# Merge PDF files
# Usage: `mergepdf -o output.pdf input{1,2,3}.pdf`
alias mergepdf='/System/Library/Automator/Combine\ PDF\ Pages.action/Contents/Resources/join.py'

# Kill all the tabs in Chrome to free up memory
alias chromekill="ps ux | grep '[C]hrome Helper --type=renderer' | grep -v extension-process | tr -s ' ' | cut -d ' ' -f2 | xargs kill"

alias dos2unix='perl -pi -e "tr/\r//d"'
alias unix2dos='perl -pi -e "s/\n$/\r\n/g"'
