#Sources: https://github.com/Danimoth/gitattributes/blob/master/Web.gitattributes
#https://stackoverflow.com/questions/21472971/what-is-the-purpose-of-text-auto-in-gitattributes-file

# We'll let Git's auto-detection algorithm infer if a file is text. If it is,
# enforce LF line endings regardless of OS or git configurations.
* text=auto eol=lf

# Isolate binary files in case the auto-detection algorithm fails and
# marks them as text files (which could brick them).
*.{png,jpg,jpeg,gif,webp,woff,woff2} binary

# #leave all files detected as binary untouched.
# * text=auto

# #
# # The above will handle all files NOT found below
# #

# #
# ## These files are text and should be normalized (Convert crlf => lf)
# #

# # source code
# *.php text
# *.css text
# *.sass text
# *.scss text
# *.less text
# *.styl text
# *.js text
# *.coffee text
# *.json text
# *.htm text
# *.html text
# *.xml text
# *.svg -crlf
# *.txt text
# *.ini text
# *.inc text
# *.pl text
# *.rb text
# *.py text
# *.scm text
# *.sql text
# *.sh text
# *.bat text

# # templates
# *.ejs text
# *.hbt text
# *.jade text
# *.haml text
# *.hbs text
# *.dot text
# *.tmpl text
# *.phtml text

# # server config
# .htaccess text
# .nginx.conf text

# # git config
# .gitattributes text
# .gitignore text
# .gitconfig text

# # code analysis config
# .jshintrc text
# .jscsrc text
# .jshintignore text
# .csslintrc text

# # misc config
# *.yaml text
# *.yml text
# .editorconfig text
# *.env text

# # build config
# *.npmignore text
# *.bowerrc text

# # Heroku
# Procfile text
# .slugignore text

# # Documentation
# *.md text
# LICENSE text
# AUTHORS text

# #
# ## These files are binary and should be left untouched
# #

# # (binary is a macro for -text -diff)
# *.png binary
# *.jpg binary
# *.jpeg binary
# *.gif binary
# *.ico binary
# *.mov binary
# *.mp4 binary
# *.mp3 binary
# *.flv binary
# *.fla binary
# *.swf binary
# *.gz binary
# *.zip binary
# *.7z binary
# *.ttf binary
# *.eot binary
# *.woff binary
# *.pyc binary
# *.pdf binary
